*{
    margin:0;
    padding: 0;
}
.navbar{
    height:10vh;
    display:flex;
    justify-content:space-evenly;
    align-items: center;
    background-color:  #4dd7e9;
    width : 100%;
    position:fixed;

    
}
.navbar .index{
    height: 2rem;
   
    position: absolute;
    right: 9em;
    margin: right 10px;
    text-align: center;
    padding-top: 1.5rem;
}
.navbar .project{
    height: 2rem;
   
    position: absolute;
    right: 2em;
    margin: right 10px;
    text-align: center;
    padding-top: 1.5rem;
}

.navbar .logo{
    font-size:2.5rem;
    font-family: Quintessential;
    position:absolute;
    left:1em;
}

.navbar a{
    text-decoration: none;
    color:black;
    font-size: 1.5rem;
}

.navbar div :hover{
    border:2px solid black;
}

.hero{
    
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #6fd3e0;
    height:40rem;
    width:100%;
    margin:20px 0;
    
    
}
.hero .text{
    width:30em;
    text-align: center;
    height:auto;
    padding: 10px;
    
}
.text p{
    font-size: 1.5em;
    text-align: justify;
}
.photo{
    border-radius: 50%;
    width:20rem;
    background-color: white;
    height:20rem;
    background-image: url("./images/photo.jpeg");
    background-size:cover;
    background-position: center center;
    margin:20px;
}

.text h1{
    color:#220CA0;
    font-size: 4rem;
    font-family: Antic Didone;
    margin:10px 0px;
    
}

 /* skills*/
.skills{
    text-align: center;
    padding-bottom: 20px;
    
}
.skills h1{
    margin-top: 30px;
    margin-bottom: 20px;
}
.skills .box {
    
    margin :10px 0px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.skills li{
    text-align: left;
    padding: 10px 0;
    font-size: 20px;

}

.contact{
    
    text-align: center;
    background-color: #06B2C2;
    padding-bottom: 30px;
}

.contact h1{
    padding-top:30px;
}
.contact ul{
    margin-top: 2rem;
    flex-wrap: wrap;
    display:flex;
    justify-content: space-evenly;
    align-content: center;
    gap:3rem;
    list-style-type:none;
}

.contact i:hover{
    border:2px solid white;
}

.contact li a{
    text-decoration: none;
    color: black;
    
 }
 .contact i{
    font-size: 2em;
 }


@media (max-width:630px){
    .hero {
        flex-direction: column;
        justify-content: space-evenly;
    }
    .hero .text{
        width:90%;
    }
    .photo{
        height:13rem;
        width:13rem;
        margin-top: 0%;
    }
    .text h1{
        font-size: 2.5rem;
    }
    .text p{
        font-size: 1rem;
    }
}
    

/* projects */

.container{
    height:50vh;
    text-align: center;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:10vh;
    
}
.container a{
   text-decoration: none;
   font-size: 3rem;
   padding: 2rem 0;
  
   
}
 .container > div{
   height:40vh;
   width:70%;
   background-size:100% 100%;
   background-repeat: no-repeat;
   border-radius: 3rem;
   
 }
 #tindog{
    background-image: url("./images/TinDog.png");
 }
 #dice{
    background-image: url("./images/dice.png");
    
 }
 #drum-kit{
    background-image: url("./images/drum.png");
 }
 #simon{
    background-image: url("./images/simon.png");
 }

 h3{
    text-align: center;
    margin:2rem 0;
 }


